body{
    font: 15px/1.5 arial, helvetica sens-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul{
    margin: 0;
    padding: 0;
}
.button_1{
    background: #E8491F;
    height: 37px;
    border: 0;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
}
header{
    background: #35424a;
    min-height: 70px;
    color: #ffffff;
    padding-top: 30px;
    border-bottom: 1px solid yellow;
    position: fixed;
    width: 100%;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding{
    float: left;
}
header #branding h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .highlight, header .current a{
    color: orange;
}
header a:hover{
    color: green;
    font-weight: bold;
}

#showcase{
    min-height: 400px;
    background-image: url('../img/show.png');
    background-repeat: no-repeat;
     background-attachment: fixed;
    background-size:100%;
    color: #ffffff;
    text-align: center;
}
#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}
#showcase p{
    font-size: 20px;
}

#newsletter{
    background: #35424A;
    color: #ffffff;
    padding: 15px;
    
}
#newsletter h1{
    float: left;
}
#newsletter form{
    float: right;
    margin-top: 15px;
}
#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

#boxes{
    margin-top: 20px;
}
#boxes .box{
    width: 30%;
    float: left;
    text-align: center;
    padding: 17px;
}
#boxes .box img{
    width: 90px;
}

footer{
    background: #912E13;
    text-align: center;
    padding: 15px;
    color: #ffffff;
    margin-top: 20px;
}